<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
         
       <bean id = "adr" class = "com.test.Address" >
       
       <property name="street" value = "12-23-BTM"></property>
       <property name="city" value = "Blr"></property>
       <property name="state" value = "KA"></property>
       
       </bean>
       
        <bean id = "emp" class = "com.test.Employee" autowire="default">
          
          <property name="id" value = "101"></property>
          <property name="name" value = "Java"></property>
          <property name="cmp" value = "IBM"></property>
          <property name="adr" ref = "adr"></property>
        </bean>       
 </beans>