<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GMail</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  		<servlet-name>s1</servlet-name>
  		<servlet-class>com.test.Servlet1</servlet-class>
  </servlet>
  
  <context-param>
  		<param-name>city</param-name>
  		<param-value>Blr</param-value>
  </context-param>
  
  <context-param>
  		<param-name>state</param-name>
  		<param-value>KA</param-value>
  </context-param>
  
  <servlet-mapping>
  		<servlet-name>s1</servlet-name>
  		<url-pattern>/context</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  		<servlet-name>s2</servlet-name>
  		<servlet-class>com.test.Servlet1</servlet-class>
  		
  		<init-param>
  				<param-name>user</param-name>
  				<param-value>admin</param-value>
  		</init-param>
  		
  		<init-param>
  			<param-name>pwd</param-name>
  			<param-value>admin</param-value>
  		</init-param>
  		
  </servlet>
  
  
  
  <servlet-mapping>
  		<servlet-name>s2</servlet-name>
  		<url-pattern>/config</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>